[core]
  editor = vim
  exculdesfile = ~/.gitignore_global
[user]
  name = Yusuke NISHIOKA
  email = nishioka@eidos.ic.i.u-tokyo.ac.jp
[color]
  ui = auto
[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line
